*
{
	margin: 0;
	padding: 0;	
}

body
{
	background-color: black;
	overflow: hidden;
}

div
{
	height: 16px;
	position: absolute;
	width: 16px;
}

div#camera
{
	background-color: white;
	height: 720px;
	overflow: hidden;
	position: static;
	width: 1280px;
}

div.floor
{
	background-color: #fcc;
}

div.grass
{
	background-color: #cfc;
}

div.player
{
	background-color: #f00;
}

div.stone
{
	background-color: #999;
}

div.tree
{
	background-color: #090;
}

div.wood
{
	background-color: #960;
}

div#debug {
	position:absolute;
	z-index:1337;
	top:0px; left:0px;
}
div#qr {
	background-color:white;
	border:16px solid white;
	width:255px;
	height:255px;	
	display:none;
}

